.currency-converter{
    max-width: 500px;
    margin: auto;
    text-align: center;
    background-color: #f9f9f9;
    padding: 25px;
    border-radius: 8px;
    color: black;
}

.currency-converter h1{
    margin-bottom: 30px;
}

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container input,select{
    width: 80%;
    padding: 10px;
    font-size: larger;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.input-container select{
    width: 20%;
}

.currency-converter p{
    font-size: 20px;
    font-weight: bold;
}